.col-md-7{ style: 'float:' + I18n.t('lang_direction')}
  .combo#description
    - if Rails.configuration.x.firestarter_settings["description"]
      = form.label t("form_description_label")
      %span.label.label-success
        =t("public")
      = form.text_area :description, :maxlength => 4096, :class => "form-control"
      = t("form_description_guidetext_html")
      %br
    %br


.col-md-7{ style: 'float:' + I18n.t('lang_direction')}
  .combo#artjump_participatory
    .form-label
      = raw t("form_artjump_participatory")
    %span.label.label-success
    = form.text_area :artjump_participatory, :maxlength => 4096, :class => "form-control"
    %br

.col-md-7{ style: 'float:' + I18n.t('lang_direction')}
  .combo#artjump_participated
    .form-label
      = t("form_artjump_participated")
    %span.label.label-success
    = form.text_area :artjump_participated, :maxlength => 4096, :class => "form-control"
    %br

.col-md-7{ style: 'float:' + I18n.t('lang_direction')}
  .combo#artjump_story
    .form-label
      = t("form_artjump_story")
    %span.label.label-success
    = form.text_area :artjump_story, :maxlength => 4096, :class => "form-control"
    %br

.col-md-7{ style: 'float:' + I18n.t('lang_direction')}
  .combo#artjump_transportation
    .form-label
      = t("form_artjump_transportation")
    %span.label.label-success
    = form.text_area :artjump_transportation, :maxlength => 4096, :class => "form-control"
    %br

.col-md-7{ style: 'float:' + I18n.t('lang_direction')}
  .combo#artjump_whatelse
    .form-label
      = t("form_artjump_whatelse")
    %span.label.label-success
    = form.text_area :artjump_whatelse, :maxlength => 4096, :class => "form-control"
    %br

.col-md-7{ style: 'float:' + I18n.t('lang_direction')}
  .combo#artjump_events
    .form-label
      = t("form_artjump_events")
    %span.label.label-success
    = check_box_tag "event_wtss",  1, camp.events["event_wtss"]
    = "Where the Sheep Sleep"
    %br
    = check_box_tag "event_bbb",  0, camp.events["event_bbb"]
    = "BBB"
    %br
    = check_box_tag "event_bland",  0, camp.events["event_bland"]
    = "The Borderland"
    %br
    = check_box_tag "event_bbaer",  0, camp.events["event_bbaer"]
    = "Burning Bär 2019"
    %br
    = check_box_tag "event_bborg",  0, camp.events["event_bborg"]
    = "Burning Borg"
    %br
    = check_box_tag "event_creme",  0, camp.events["event_creme" ]
    = "Crème Brulée"
    %br
    = check_box_tag "event_fsafari",  0, camp.events["event_fsafari"]
    = "Funky Safari"
    %br
    = check_box_tag "event_highburn",  0, camp.events["event_highburn"]
    = "Highburn"
    %br
    = check_box_tag "event_latvian",  0, camp.events["event_latvian"]
    = "Latvian Burn"
    %br
    = check_box_tag "event_micro",  0, camp.events["event_micro"]
    = "Microburn UK"
    %br
    = check_box_tag "event_midburn",  0, camp.events["event_midburn"]
    = "Midburn"
    %br
    = check_box_tag "event_nest",  0, camp.events["event_nest"]
    = "Nest"
    %br
    = check_box_tag "event_kiez",  0, camp.events["event_kiez"]
    = "Kiez Burn"
    %br
    = check_box_tag "event_nowhere",  0, camp.events["event_nowhere"]
    = "Nowhere"
    %br
    = check_box_tag "event_paris",  0, camp.events["event_paris"]
    = "Paris Burning Night"
    %br
    = check_box_tag "event_shy",  0, camp.events["event_shy"]
    = "Saft"
    %br
    = check_box_tag "event_spark",  0, camp.events["event_spark"]
    = "Spark in the Dark"
    %br
    = check_box_tag "event_urban",  0, camp.events["event_urban"]
    = "Urban Burn Stockholm - Bizarre Star Bazaar"
    %br
    = check_box_tag "event_bbal",  0, camp.events["event_bbal"]
    = "Vienna Burningball 2019"
    %br

.col-md-7{ style: 'float:' + I18n.t('lang_direction')}
  .combo#artjump_events_other
    = form.label t("form_artjump_events_other")
    %span.label.label-success
    = form.text_field :artjump_events_other, :maxlength => 512, :class => "form-control"
    %br


