<% @can_edit = true %>

<script type="text/javascript">
    $(document).ready(function() {
        $('#camp_people_attributes_0_role_ids_1').prop('checked', true).on('click', function () {
            return false;
        });
    });
</script>

<%= simple_form_for @camp, :html => {:dir => I18n.t(:html_direction), id: 'createDreamForm'} do |form| %>
  <div class="header-heading col-xs-12" style='float: <%= I18n.t(:lang_direction) %>'>
    <%= t("form_basics_headline") %>
  </div>
  <div class="combo col-md-7 col-xs-12" id="name" style='float: <%= I18n.t(:lang_direction) %>'>
    <%= form.label t("form_dream_name_label") %>
    <%= form.text_field :name, :maxlength => 64, :class => "form-control" %>
  </div>
    <br/><br/>

    <% if Rails.configuration.x.firestarter_settings["rc"] %>
        <%= render 'rc_fields', form: form, camp: Camp.new %>
    <% end %>
  <br/><br/>

  <div class="combo col-md-7 col-xs-12" style='margin-bottom:40px;float: <%= I18n.t(:lang_direction) %>'>
      <div class="form-label"><%= t("form_artjump_pictures") %></div>
  </div>


  <div class="submit col-xs-12">
    <%= form.submit t(:create_dream), class: 'btn btn-success create-new-dream', data:{toggle: 'tooltip'}, title:'Creating your new dream' %>
    <span class='loading-new-dream hideme'>
      <%= t("create_dream_loading_text") %>
    </span>
  </div>
<% end %>
<%= content_for :head do %>
  <title>
    <%= t('browser_title_tag') %>
  </title>
<% end %>
